@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom global styles */
html, body, #root {
  height: 100%;
  background-color: #f9fafb;
  font-family: 'Inter', ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}
